body {
    margin: 0;
    background-color: #eef1f2;
    margin-bottom: -35vw;
}

img {
    max-width: 100%;
    height: auto;
}

.search {
    background-image: url(Billeder/icon/search_icon.png);
    background-size: cover;
    width: 35px;
    height: 35px;
    position: relative;
    left: 55px;
}

.searchBurger {
    background-image: url(Billeder/icon/search_icon.png);
    background-size: cover;
    width: 35px;
    height: 35px;
    position: relative;
    margin: auto;
    bottom: 35px;
}

main img {
    opacity: 0.5;
}

a {
    text-decoration: none;
}

/* laptop */

@media only screen and (min-width: 768px) {

    /* menu på laptop */

    header {
        margin-bottom: -16vw;
    }

    header menu {
        position: relative;
        height: 0;
        box-sizing: border-box;
        text-align: center;
    }

    nav .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eef1f2;
        width: 100vw;
        position: absolute;
        z-index: 100;
        text-align: center;
        padding-left: 5vw;
    }

    nav a {
        font-family: 'Arvo', serif;
        color: black;
        font-weight: 600;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        padding: 0 30px;
        margin-left: 2.5vw;
        transition: .1s;
    }

    nav a:hover {
        color: #4d5157;
    }

    /* burgermenu sjules på laptop */

    #menuknap_wrapper {
        display: none;
    }

    nav #section_wrapper {
        display: none;
    }


    .hidden {
        opacity: 0;
        cursor: pointer;
        display: none;
    }

    /* video på forside*/

    #video {
        margin: 0;
        position: relative;
        top: -1vw;
        z-index: -1;
        min-width: 100%;
        width: auto;
        height: 43vw;
        object-fit: cover;
        opacity: 90%;
    }

    /* video på forside*/

    #logo {
        font-size: 0rem;
        position: relative;
        top: -32vw;
        padding-top: 0px;
        width: 20%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    h1 {
        text-align: center;
        position: relative;
        top: -33vw;
        font-family: 'Kumar One Outline', cursive;
        font-size: 4rem;
        font-weight: 600;
    }

    h3 {
        text-align: center;
        position: relative;
        top: -10vw;
        color: #000000;
        font-family: 'Kumar One', cursive;
        font-size: 2rem;
        text-decoration: none;
        font-weight: 100;
    }

    h3:hover {
        color: #4d5157;
    }

    .quote h4 {
        font-family: 'Kumar One Outline', cursive;
        text-align: center;
        font-size: 3rem;
    }

    header p {
        text-align: center;
        position: relative;
        top: -25vw;
        font-family: 'Arvo', serif;
        margin-left: 10vw;
        margin-right: 10vw;
        line-height: 2;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10vw;
        grid-gap: 3vw;
        position: relative;
        top: -10vw;
    }

    /* img hover */

    .box1 .box2 .box3 .box4 .box5 .box6 {
        overflow: hidden;
    }

    .box1 .box2 .box3 .box4 .box5 .box6 {
        padding: 30px;
        margin: auto;
    }

    main .img {
        cursor: pointer;
        /*alle ændringer på dette element gøres over 0.6 sek.*/
        transition: .6s;
        /*gør billedet mørkere*/
        filter: brightness(75%);
    }


    /*få billederne til at blive større og lyse ved hover*/
    main img:hover {
        /*gør billedet større (1 er original str.)*/
        transform: scale(1.1);
        /*giv billedet 100% lysstyrke*/
        filter: brightness(100%);
    }

    /* footer på laptop */

    footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 0.5fr;
        text-align: center;
        margin-top: -25vw;
        background-color: #73B3BD;

    }

    footer .quote {
        grid-column: span 4;
    }

    footer .footer_txt {
        grid-column: span 2;
        grid-row: 2;
    }

    footer .footer_facebook {
        grid-column: span 1;
        grid-row: 2;

    }

    footer .footer_instagram {
        grid-column: span 1;
        grid-row: 2;
    }

    footer img {
        width: 10%;
    }

    footer p {
        font-family: 'Arvo', serif;
    }
}

/* mobile  */

@media only screen and (max-width: 768px) {

    /* burgermenu */

    .menu {
        display: none;
        z-index: 2;

    }

    nav .section_wrapper {
        background-color: #E5E0D9;
    }

    #menu1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 7rem 7rem 7rem;
        position: absolute;
        background-color: #E5E0D9;
        padding-left: 1rem;
        z-index: 1;
        margin-top: -1.7vw;
        overflow-x: hidden;

    }

    #menuknap {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
    }

    #menu1 {
        position: absolute;
        padding-top: 13vh;
        padding-left: 34vw;
        padding-right: 33.5vw;
        text-align: center;
        background-color: #73B3BD;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: 'Arvo', serif;
    }

    #menu1 a {
        text-decoration: none;
        color: black;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 34px;
        height: 1px;
        background-color: black;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-2px, 8px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-2px, -8px);
    }

    .hidden {
        opacity: 0;
        cursor: pointer;
        display: none;
    }

    /* video på forside */


    #video {
        position: relative;
        top: -1vw;
        z-index: -1;
        min-width: auto;
        width: auto;
        height: 70vw;
        object-fit: cover;
        overflow-x: hidden;
    }

    /* logo over video på forside  */

    #logo {
        font-size: 0rem;
        position: relative;
        top: -55vw;
        padding-top: 0px;
        width: 40%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    h1 {
        text-align: center;
        position: relative;
        top: -40vw;
        font-family: 'Kumar One Outline', cursive;
        font-size: 15vw;
    }

    h3 {
        text-align: center;
        position: relative;
        top: -43vw;
        color: black;
        font-family: 'Kumar One Outline', cursive;
        font-size: 2rem;
        text-decoration: none;
    }

    header p {
        text-align: center;
        position: relative;
        top: -40vw;
        font-family: 'Arvo', serif;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    main {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: -10vw;
        position: relative;
        top: -10vw;
    }

    .box1 {
        margin-bottom: -10vw;
    }

    .box2 {
        margin-bottom: -10vw;
    }

    .box3 {
        margin-bottom: -10vw;
    }

    .box4 {
        margin-bottom: -10vw;
    }

    .box5 {
        margin-bottom: -10vw;
    }

    .box6 {
        margin-bottom: -10vw;
    }

    /* footer på mobile */


    footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 0.5fr;
        text-align: center;
        margin-top: -25vw;
        background-color: #73B3BD;

    }

    footer .quote {
        grid-column: span 4;
        font-family: 'Kumar One Outline', cursive;
        font-size: 2rem;
    }

    footer .footer_txt {
        grid-column: span 2;
        grid-row: 2;
    }

    footer .footer_facebook {
        grid-column: span 1;
        grid-row: 2;
        padding-top: 15px;

    }

    footer .footer_instagram {
        grid-column: span 1;
        grid-row: 2;
        padding-top: 15px;
    }

    footer img {
        width: 30%;
    }

    footer p {
        font-family: 'Arvo', serif;
        font-size: 0.7rem;
        padding: 15px;
    }
}
