body {
    margin: 0;
    background-color: #eef1f2;
    margin-bottom: -35vw;
}

img {
    width: 100%;
    height: auto;
}

header img {
    margin-bottom: -10vw;
}

/*FOOTER*/
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 0.5fr;
    text-align: center;
    padding-top: 10vw;

}

footer .quote {
    grid-column: span 4;
}

footer .footer_txt {
    grid-column: span 2;
    grid-row: 2;
}

footer .footer_facebook {
    grid-column: span 1;
    grid-row: 2;
}

footer .footer_facebook img {
    width: 20%;
    height: auto;
}


footer .footer_instagram {
    grid-column: span 1;
    grid-row: 2;
}

footer .footer_instagram img {
    width: 20%;
    height: auto;
}

footer img {
    width: 10%;
}

footer p {
    font-family: 'Arvo', serif;
}


/*Desktop*/
@media only screen and (min-width: 600px) {

    .section_0 img {
        position: relative;
        top: -1vw;
        z-index: -1;
        min-width: 100%;
        width: auto;
        height: 30vw;
        object-fit: cover;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10vw;
        margin-top: 0;
        grid-gap: 3vw;
        position: relative;
        padding-top: 50px;

    }

    .section_3 img {
        max-width: 50%;
    }

    header {
        margin-bottom: -16vw;
    }

    /*BUTTON*/
    button {
        border: none;
        outline: none;
        padding: 10px 16px;
        background-color: #ffffff;
        cursor: pointer;
        font-size: 16px;
        transition: .3s;
        margin-left: 10vw;
        margin-top: 20vw;
    }

    button:hover {
        background-color: #333333;
        color: white;
        opacity: 100%;
    }



    /*MENU*/
    header menu {
        position: relative;
        height: 0;
        box-sizing: border-box;
        text-align: center;
    }

    nav .menu {
        display: inline-block;
        background-color: white;
        width: 100vw;

    }

    nav a {
        font-family: 'Arvo', serif;
        color: black;
        font-weight: 600;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding-left: 14.4vw;
        padding-right: 11vw;
        text-align: center;
        text-decoration: none;

    }

    nav a:hover {
        color: #E5E0D9;
    }

    .logo_burgermenu {
        display: none;
    }

    #menuknap_wrapper {
        display: none;
    }

    nav #section_wrapper {
        display: none;
    }


    .hidden {
        opacity: 0;
        cursor: pointer;
        display: none;
    }


    /*FONTS*/

    h2 {
        text-align: center;
        position: relative;
        font-family: 'Kumar One Outline',
            cursive;
        font-size: 2rem;
    }

    h1 {
        text-align: center;
        position: relative;
        top: -10vw;
        font-family: 'Kumar One Outline', cursive;
        font-size: 4rem;
    }

    h3 {
        text-align: center;
        position: relative;
        font-family: 'Kumar One Outline',
            cursive;
        font-size: 2rem;
    }


    h5 {
        text-align: center;
        position: relative;
        top: -10vw;
        font-family: 'Arvo',
            serif;
        margin-left: 10vw;
        margin-right: 10vw;
    }



}



/*mobile version*/

@media only screen and (max-width: 600px) {

    img {
        position: relative;
        top: -1vw;
        z-index: -1;

        min-width: auto;
        width: auto;

        height: 60vw;
        object-fit: cover;
    }

    main {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: -10vw;
        position: relative;
        top: -10vw;
    }

    .section_3 {
        margin-top: 50px;
    }

    /*BUTTON*/
    button {
        border: none;
        outline: none;
        padding: 10px 16px;
        background-color: #ffffff;
        cursor: pointer;
        font-size: 16px;
        transition: .3s;
        margin-bottom: 20px;
    }

    button:hover {
        background-color: #333333;
        color: white;
        opacity: 100%;
    }



    /*MENU*/
    .menu {
        display: none;
        z-index: 2;

    }

    nav .section_wrapper {
        background-color: #E5E0D9;
    }

    #menu1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 7rem 7rem 7rem;
        position: absolute;
        background-color: #E5E0D9;
        padding-left: 1rem;
        z-index: 1;
        margin-top: -1.7vw;
        overflow-x: hidden;

    }

    #menuknap {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
    }

    #menu1 {
        position: absolute;
        padding-top: 5rem;
        padding-left: 10.5rem;
        padding-right: 10.5rem;
        text-align: center;
        background-color: #E5E0D9;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 400;
        font-family: 'Arvo', serif;
    }

    #menu1 a {
        text-decoration: none;
        color: black;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 34px;
        height: 1px;
        background-color: black;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-2px, 8px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-2px, -8px);
    }

    .hidden {
        opacity: 0;
        cursor: pointer;
        display: none;
    }



    /*FONTS*/
    h1 {
        text-align: center;
        position: relative;
        top: -55vw;
        font-family: 'Kumar One Outline', cursive;
        font-size: 4rem;
    }

    h2 {
        text-align: left;
        position: relative;
        font-family: 'Kumar One Outline', cursive;
        font-size: 2rem;
    }

    h3 {
        text-align: left;
        position: relative;
        font-family: 'Kumar One Outline',
            cursive;
        font-size: 2rem;
    }

    h5 {
        text-align: center;
        position: relative;
        top: -65vw;
        font-family: 'Arvo', serif;
        margin-left: 10vw;
        margin-right: 10vw;
    }


}
